:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #3c3b3bd9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  margin-top: 50px;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  background-color: #3c3b3b66;
}

.title-trabajadores {
  background-color: #7b96f6ec;
  color: rgb(76, 76, 76);
}
.title-candidatos {
  background-color: #34c2a1ec;
  color: rgb(76, 76, 76);
}
.title-candidatos-ocultos {
  background-color: #f6a87bec;
  color: rgb(76, 76, 76);
}

img {
  min-height: 150px;
  vertical-align: top;
}

a {
  font-size: 0.7rem;
  text-decoration: none;
  font-weight: 700;
  color: rgb(182, 239, 253);
}

.presentacion {
  margin: 10px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #3c3b3b48;
}

.usuario {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px dotted rgb(255, 255, 255);
  box-sizing: border-box;
}

.foto {
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 20px;
  min-width: 150px;
  height: fit-content;
}

.datos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  height: 100%;
  width: 250px;
}

.botones {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: fit-content;
}

.botones button {
  margin: 5px 0 0 0;
}

button {
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  width: 120px;
  height: 50px;
  background-color: #c1c1c1;
  transition: all 0.5s;
}

button:hover {
  background-color: #7d7d7d;
  color: white;
}

.rojo {
  background-color: rgb(176, 59, 59);
  color: white;
  font-weight: 600;
  font-size: 16px;
}
.rojo:hover {
  background-color: white;
  color: red;
}

.verde {
  background-color: green;
  color: white;
  font-weight: 600;
  font-size: 16px;
}
.verde:hover {
  background-color: white;
  color: green;
}

.upper-buttons {
  display: flex;
  justify-content: space-evenly;
}

.top-button {
  position: relative;
  height: 70px;
  width: 190px;
  background-color: #7b96f6;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.button-candidatos {
  background-color: rgb(52, 194, 161);
}

.top-button:hover {
  background-color: #53639c;
}
.top-button-oculto {
  position: relative;
  height: 70px;
  width: 190px;
  background-color: #f6a87b;
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.top-button-oculto:hover {
  background-color: #f6a87b91;
}

.footerButtons {
  display: flex;
  justify-content: space-around;
  background-color: #9898987a;
}

.candidatos {
  width: 39vw;
}

.candidatos button {
  width: 120px;
  height: 50px;
  background-color: #7b96f6;
  color: white;
  font-weight: 600;
  font-size: 16px;
  margin: 5px 5px 5px 5px;
}

.candidatos button:hover {
  background-color: #7b96f6ab;
}

.ocultados {
  width: 39vw;
}

.ocultados button {
  width: 120px;
  height: 50px;
  background-color: rgb(176, 59, 59);
  color: white;
  font-weight: 600;
  font-size: 16px;
  margin: 5px 5px 5px 5px;
}

.ocultados button:hover {
  background-color: rgba(176, 59, 59, 0.593);
}

.usuarios {
  margin: 10px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #3c3b3b48;
}
.columna {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px dotted rgb(255, 255, 255);
  box-sizing: border-box;
}

.stronger {
  font-weight: 900;
}
